* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.federal-container {
  margin: 0;
  padding: 0;
}

.federal-data-container {
  display: grid;
  grid-template-columns: 20% 70%;
}

#federal-header-container {
  background-color: #0a3b5b;
  color: white;
  padding: 10px;
}

#federal-header {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  
}

.recipient-container {
  width: 80vw;
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 0;
  border-top: 1px solid rgb(179, 179, 179);
  border-bottom: 1px solid rgb(179, 179, 179);
}

/* #individual-recipient-container {
  background-color: whitesmoke;
  border-top: 1px solid rgb(179, 179, 179);
  border-bottom: 1px solid rgb(179, 179, 179);
} */

/* .recipient-container {
    max-height: 250px;
    max-width: 50vw;
  } */

#header {
  display: flex;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.spending-name-prime-award {
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
    font-family: Helvetica, sans-serif;
}

#recipient-name-section {
  display: flex;
  gap: 20px;
}


#data-table-container {
  margin: auto;
}


.federal-filter-container {
    background-color: #E7F5FF;
}

.right-arrow {
    border: 1px solid gray;
}

.down-arrown {
    border: 1px solid gray;
}

.table-header {
    font-size: 3vh;
}