* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.federal-container {
  margin: 0;
  padding: 0;
}

#federal-header-container {
 display: flex;
 width: 100vw;
}


.federal-content-flex {
  display: flex;
  color: white ;
  background-color: #0A3B5B;
  padding: 5px;
}


#federal-header {
  margin-left: 2%;
  font-size: 30px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;  
}


.spending-name-prime-award {
  display: flex;
  margin-left: -18%;
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.federal-data-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.accordion {
  overflow: hidden;
  transition: all 0.3s ease;
  border-top: 1px solid rgb(179, 179, 179);
  border-bottom: 1px solid rgb(179, 179, 179);
}

#header {
  display: flex;
  padding: 10px;
  gap: 10px;
 box-shadow: 3px 3px 3px 3px lightgrey;
}

#recipient-name-section {
  display: flex;
  gap: 20px;
}

/* 
.filter-component {
  
} */


.federal-filter-container {
    display: flex;
    background-color: #E7F5FF;
}

.right-arrow {
    border: 1px solid gray;
}

.down-arrown {
    border: 1px solid gray;
}

.table-header {
    font-size: 3vh;
}


.pagination-button {
  outline: none;
  border: 1px solid #0a3b5b;
  color: #0a3b5b;
  background-color: white;
  margin: 5px;
  width: 30px;
  font-size: 20px;
}

.page-number-monitor {
  text-align: center;
}

.accordion-title {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.filter-header {
  padding-top: 15px;
}

h5 {
  margin-left: 15%;
}

hr {
  margin-left: 0;
  width: 25vw;
  border: 1px solid black;
}

.filter-item {
  transition: all 0.3s ease-in-out;
  display: flex;
  margin-left: 10%;
}

.filter-submit-btn {
  margin-left: 5%;
  padding: 5%;
  font-size: 12px;
}

.federal-btn {
  position: relative;
  background-color: #0A3B5B;
  color: white;
  margin-left: 5%;
  font-size: 15px;
  display: block;
  border-radius: 1px;
  border: none;
  outline: none;
  height: 5vh;
  width: 8vw;
  padding: 0;
  overflow: hidden;
  transition: 1s all ease;
}

.input {
  font-size: 12px;
}