
.container {
    height: 100vh;
    display: grid;
}


.recipient-container {
    background-color: whitesmoke;
    max-height: 50px;
    width: 50vw;
    padding: 0;
    overflow: hidden;
    transition: all .3s ease;
}


/* .recipient-container {
    max-height: 250px;
    max-width: 50vw;
  } */


#header {
    display: flex;
    gap: 10px;
}


#recipient-name-section {
    display: flex;
    gap: 10px;
}

#data-table-container {
    margin: auto;
}