*{
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  margin-top: -50px;
  margin-bottom: 0;
  padding: 0;
  height: 80px;
  font-size: 2rem;
}

.nav-container {
  margin-top: 0;
  margin-bottom: 50px;
}

.menu-bars {
  display: flex;
  margin-left: 5rem;
}

.a-nav {
  transition: .4s;
  text-decoration: none;
  color: #000 !important;
}

.a-nav:hover {
  color: rgb(18, 80, 194) !important;
}

.ul-nav {
  display: flex;
  margin-right: 5%;
  list-style-type: none;
  transition: all .4s ease-in-out;
  font-size: 15px;
}


.ul-nav li {
  padding: 5px;
}

