.contact-page {
    border: 2px solid rgb(226, 219, 219);
    box-shadow: 5px 3px 5px 3px lightgrey;
    margin: 10%;
    width: 80%;
}

.contact-header {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    line-height: 2em;
    text-underline-position: under;
    color: #407BFF;
}   

.contact-message {
    padding-bottom: 1rem;
}

.contact-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;

}

#button {
    background-color: #407BFF;
}

.form {
    margin-top: 20%;
    margin-left: 5%;
    padding: 30px;
    line-height: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gap-2 {}

.icon-info-map {
    margin-top: 30%;
    line-height: 2em;
}