.contact-page {
    margin: 10%;
    border: 2px solid rgb(226, 219, 219);
    box-shadow: 5px 3px 5px 3px lightgrey;
    width: 80%;
}

.contact-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10%;
}

.form-container {
    display: flex;
}

.contact-header {
    display: flex;
    margin-left: 30%;
    padding: 10%;
    text-decoration: underline;
    line-height: 2em;
    text-underline-position: under;
    color: #4A99D3;
}

.contact-message {
    padding-bottom: 1rem;
}

.form-grid {
    margin-left: 8%;
    display: grid;
    grid-template-columns: 500px 500px;
}

.form {
    margin-left: 10%;
    padding: 10px;
    line-height: 2em;
}

#button {
    background-color: #4A99D3;
}

.icon-info-map {
    /* border: 2px solid red; */
    line-height: 2em;
    padding: 10px;
    margin-left: 30%;
}

.map-grid {
    margin-top: 10%;
    grid-column-start: 1;
    grid-column-end: 3;

}