/* *{
    margin: 0;
    padding: 0;
} */

.state-recipient-container {
    background-color: whitesmoke;
    border-top: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    transition: all 0.3s ease;
    width: 90vw;
    overflow: scroll;
    
}

#state-individual-recipient-container {
    overflow: scroll;
}

#state-recipient-name-section {
    display: flex;
    gap: 10px;
}

.state-recipient-container-body {
    /* display: flex;
    flex-direction: row; */
    width: 90vw;
}

.down-arrow, .right-arrow{
    /* margin-left: 0; */
    padding-left: 3%;
}

#rname {
    /* margin-left: 12%; */
    font-size: 20px;
}

/* ul{
    margin-left: 10.5%;
} */

.state-page-container {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.state-header{
    background-color: #0A3B5B;
    font-weight: normal;
    font-family: Helvetica,
    sans-serif;
    color: white;
}

.spa {
    display: flex;
    margin-left: 75%;
}

.state-data-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 20%;
}

#state-data-table-container {
    margin: auto;
}

#state-header {
    display: flex;
    /* gap: 10px; */
}

.name {
    margin-left: 10.5%;
}