*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.state-recipient-container,
.accordion-item {
    /* background-color: whitesmoke; */
    border-top: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    transition: all 0.3s ease;
    width: 90vw;
    overflow: hidden;
    
}

#state-individual-recipient-container {
}

#state-recipient-name-section, .accordion-title {
    display: flex;
    gap: 20px;
    padding: 10px;
}

#rname {
    font-size: 20px;
}

.down-arrow, .right-arrow{
    border: 2px solid grey;
    
}

ul{
    margin-left: 3%;
    overflow-y: scroll;
}

.state-content-container {
    margin: 0;
    padding: 0;
}

.state-header{
    background-color: #0A3B5B;
    font-weight: normal;
    font-family: Helvetica,
    sans-serif;
    color: white;
}


.spa {
    display: flex;
    margin-left: 75%;
}

.state-data-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 20%;
}

#state-data-table-container {
    margin: auto;
}

#state-header {
    display: flex;
    width: 90vw; 
    padding: 10px; 
    box-shadow: 3px 3px 3px 3px lightgrey;
}

.name {
    margin-left: 10.5%;
    font-size: 20px;
}

.select{
    font-size: 20px;
}

.filter-item {
    background-color: rgb(176, 222, 250);
    width: 20%;
    height: 100vh;
}

.filter {
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr;
}